APP_NAME='summarize'

# Mongo DB
# Local development
MONGODB_URI='mongodb://localhost/summarize'

# JSON web token (JWT) secret: this keeps our app's user authentication secure
# This secret should be a random 20-ish character string
JWT_SECRET ='MEOgrmM3I5q+2zYavnBunSvqGdwM9x3hH1EeFhglwN8='
JWT_ALGO='RS256'
